//COULEURS DE LA MAQUETTE ET DU CAHIER DES CHARGES
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-white:#ffffff;
$color-black:#000000;


//COULEURS DE FOND
$color-canvas: #F6F6F6;
$color-canvas-light: #EAEAEA;
$color-canvas-dark: #353535;
$color-canvas-inverted: #101010;

//COULEURS DE TEXTE
$color-text: #101010;
$color-text-medium: #353535;
$color-text-inverted: #008766;


